@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Dancing+Script:wght@700&family=Montserrat:wght@100&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
::selection {
  color: rgb(247, 234, 123);
  background: rgba(255, 255, 255, 0.2);
}
.hero {
  position: relative;
  background-color: rgb(32, 32, 32);
  top: 50%;
  width: 100vw;
  height: 100vh;
  color: #000;
}
.hero h1 {
  position: absolute;
  top: 10%;
  text-align: left;
  font-size: 85px;
  margin-left: 15%;
  display: flex;
  justify-content: flex-start;
  margin-top: 8%;
  color: #fff;
}
.text {
  position: relative;
  top: 25vh;
  font-size: 40px;
  width: 50%;
  color: azure;

  margin-left: 5%;
}
.text .hero-text {
  position: relative;
  top: 15%;
  font-size: 28px;
  width: 100vw;
  color: rgb(255, 51, 51);
  text-align: right;
  margin-left: 70%;
}
.hero img {
  position: relative;
  height: 60vh;
  top: 25%;
  left: 10%;
  border-radius: 50%;
}
#social {
  position: relative;
  display: block;
  background-color: rgb(143, 82, 255);
  color: #fff;
  width: 12%;
  height: 6%;
  top: 80%;
  left: 17%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  text-align: center;
  overflow: hidden;
}

#social h6 a {
  font-size: 18px;
  text-decoration: none;
}
#social:hover {
  width: 17%;
  left: 15%;
  font-size: 23px;
  box-shadow: 0px 0px 5px 10px rgba(143, 82, 200, 0.603);
}
.hero img {
  display: relative;
  margin-left: 40%;
  margin-top: -5%;
}
#side-social {
  position: relative;
  width: 10%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  left: 97.5%;
  top: -40%;
  font-size: 32px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 7px;
  padding-bottom: 5px;
  padding-top: 5px;
}
#side-social #insta {
  font-size: 32px;
  margin-top: 12px;
}
#side-social:hover {
  color: #4a93ffe1;
  width: 10%;
  left: 95%;
  font-size: 35px;
  padding-left: 25px;
}
#side-social :hover {
  color: #ff00d4e1;
  width: 10%;
  left: 95%;
  font-size: 35px;
}
@media (max-width: 764px) {
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    align-items: center;
    width: 80vw;
  }
  .hero h1 {
    margin-top: -30%;
    font-size: 56px;
    top: 30%;
  }
  #social {
    top: 80%;
    left: 10%;
    width: 35%;
    height:max-content;
  }
  #social:hover{
    width: 37%;
  }
  #social #discord {
    color: #ffffffe1;
    font-size: 38px;
  }
  #social h6 {
    opacity: 1;
    padding-bottom: 12px;
    font-size: 18px;
  }
  #pic {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  }
  #pic img {
    position: absolute;
    width: 80vw;
    height: 40vh;
    margin-top: 40%;
    margin-left: -0%;

  }
  #side-social {
    display: none;
  }
}
