@import url("https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Dancing+Script:wght@700&family=Montserrat:wght@100&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  position: relative;
  /* background: linear-gradient(#ffb2b2, #e66465); */
  /* background: rgb(0, 0, 0); */
  background-color: rgb(32, 32, 32);
  top: 50%;
  width: 100vw;
  height: 100vh;
  color: #000;
}
.hero h1 {
  position: absolute;
  top: 10%;
  /* width: 100vw; */
  text-align: left;
  font-size: 85px;
  margin-left: 15%;
  display: flex;
  justify-content: flex-start;
  margin-top: 8%;
  color: #fff;
}
.text {
  position: relative;
  top: 25vh;
  font-size: 40px;
  width: 50%;
  /* height: 50vh; */
  color: azure;

  margin-left: 5%;
}
.text .hero-text {
  position: relative;
  /* display: block; */
  top: 15%;
  font-size: 28px;
  width: 100vw;
  color: rgb(255, 51, 51);
  text-align: right;
  margin-left: 70%;
}
.hero img {
  position: relative;
  height: 60vh;
  top: 25%;
  left: 10%;
  border-radius: 50%;
}
#social {
  display: flex;

  position: relative;
  display:block;
  background-color: rgb(143, 82, 255);
  width: 12%;
  height: 5%;
  top: 80%;
  left: 15%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}
#social h6{
  font-size:12px
}
#social:hover {
  width: 15%;
  font-size: 25px;
  box-shadow: 0px 0px 5px 10px rgba(143, 82, 200, 0.603);
}
.hero img{
  display: relative;
  margin-left: 40%;
  margin-top: -5%;
}

@media (max-width: 764px) {
  .hero {
    display: flex;
    flex-direction: column;
    font-size: 25px;
  }
  .hero h1 {
    margin-top: 20px;
    font-size: 35px;
    top: 30%;
  }
  #social h6{
   opacity: 0;
  }
  .hero img{
    margin-left: 50px;
    margin-top: -130px;
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 764px) {

}